@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Crimson Pro", ui-sans-serif, system-ui, sans-serif;
}

@utility pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

@utility pb-safe-16 {
  padding-bottom: calc(4rem + env(safe-area-inset-bottom));
}
